.wrapper {
    /* width: 100%; */
    overflow-x: scroll;
    overflow: hidden;
    
    
}

.carousel-container {
    display: flex;
    transition: transform .4s ease;
    transform: translateX(calc(0))
}

.carousel-container.sliding {
    transition: none;
}

.carousel-container.sliding.next {
    transform: translateX(0)
}

.carousel-container.sliding.prev {
    /* transform: translateX(calc(2 * (-300% - 16px))) */
}

.carousel-slot {
    /* flex: 1 0 100%;
    flex-basis: 100%; 
    margin-right: 16px;*/
    display: flex;
   margin: 35px;
  
   
}   

.carousel-slot img {
    /* width: 100%; */
}