.wrapper {
    overflow-x: scroll;
    overflow: hidden;       
}

.carousel-container {
    display: flex;
    transition: transform .4s ease;
    transform: translateX(calc(0)); 
    border: red solid 3px; 
}

.carousel-container.sliding {
    transition: none;
    
}

.carousel-container.sliding.next {
    transform: translateX(0)
}

.carousel-container.sliding.prev {
    /* transform: translateX(calc(2 * (-300% - 16px))) */
}

.carousel-slot {
   display: flex;
   margin: 2.5%;
  
   
}   

.carousel-slot img {
    /* width: 100%; */
}